<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc"><i class="fas fa-angle-double-right"></i> Experience</h1> 

<div class="row">   
     
     
    <!-- .resume-left -->
    <div class="col-md-6 resume-left">    
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Work</div>
            <div class="clear"></div>
        </div>
    <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Data Scientist <span class="duration"><i class="fas fa-calendar-alt"></i> 2016 - present</span></h5>
                <h6><span class="fa fa-briefcase"></span> dunnhumby</h6>
                <p>Scope and deliver analytics and data science projects to solve the commercial challenges of our clients, including retailers and retail bank. Experience includes customer segmentations, attribution of segments to customer base, and propensity modelling.</p>
            </li>
            <li>
                <h5>Analytics Specialist <span class="duration"><i class="fas fa-calendar-alt"></i> 2014 - 2015</span></h5>
                <h6><span class="fa fa-briefcase"></span> OC&C </h6>
                <p>Applied advanced analytics to generate actionable insights for our clients and answer a range of commercial questions such as promotions effectiveness and profitability improvement. Used a range of techniques, including regression, clustering, classification and regression tree, apriori analysis and text analytics, to answer key "so what" for our clients. </p>
            </li>
            <li>
                <h5>Research Analyst - Data Analytics <span class="duration"><i class="fas fa-calendar-alt"></i>2012 - 2014</span></h5>
                <h6><span class="fa fa-briefcase"></span> Deloitte</h6>
                <p>Delivered thought pieces on data analytics strategy and digital trends, including topics on analytics technologies and tools, open data and digital privacy. Worked with structured and unstructured to derive insight and author thought leadership to enhance employer's reputation in the marketplace. </p>
            </li>
            <li>
                <h5>Research Analyst - Consumer Tech <span class="duration"><i class="fas fa-calendar-alt"></i>2011 - 2012</span></h5>
                <h6><span class="fa fa-briefcase"></span> Deloitte</h6>
                <p>Researched and published monthly reports on the consumer technology market, including hardware (smartphones, televisions, computers), software (mobile apps, video games), and digital media (social networks, TV habits). Applied primary and secondary research as well as creating and analysing consumer research to understand consumer trends and market drivers.</p>
            </li>

        </ul>
        <!-- /.attributes -->
        <br>



    </div>
    <!-- /.resume-left -->




    <!-- .resume-right -->
    <div class="col-md-6 resume-left">    
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Community</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Co-Chair and Organiser <span class="duration"><i class="fas fa-calendar-alt"></i> 2014 - present</span></h5>
                <h6><span class="fa fa-trophy"></span> PyData London</h6>
                <p>Volunteer organiser of PyData London, putting together annual conferences and monthly meetup since chapter's inception in 2014. Co-chaired 2018 conference, responsible for organsing the conference for 500 attendees and raising substantial funds for NumFOCUS.</p>
            </li>
  
        </ul>
        <!-- /.attributes -->
        <br>  


        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Certifications</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>The Analytics Edge - Verified Certificate </h5>
                <h6><span class="fa fa-book"></span> edX </h6>
                <!-- <p>Blurb</p> -->
            </li>
            <li>
                <h5> Chartered Financial Analyst (CFA) Charter </h5>
                <h6><span class="fa fa-book"></span> CFA Institute</h6>
                <!-- <p>Blurb.</p> -->
            </li>
            <li>
                <h5> MSc International Finance and Investments (with distinction)</h5>
                <h6><span class="fa fa-book"></span> London South Bank University</h6>
                <!-- <p>Blurb.</p> -->
            </li>
            <li>
                <h5> BA Psychology (magna cum laude)</h5>
                <h6><span class="fa fa-book"></span> University of Southern California </h6>
                <!-- <p>Blurb.</p> -->
            </li>
        </ul>
        <!-- /.attributes -->
        <br>  
    

    </div>
    <!-- /.resume-right -->


</div>

<div style="clear: both"></div>  
  

</div>
<!-- End .resume