<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc"><i class="fas fa-angle-double-right"></i> About Me</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">
 		
        <!--About me-->
        <div class="title_content">
            <div class="text_content">{{ site.yourname }}</div>
            <div class="clear"></div>
        </div>

		   <ul class="about">

            <li> 
                <i class="fas fa-map-marker-alt"></i>
                <label> Location</label>
                <span class="value">{{ site.location }}</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="fab fa-linkedin-in"></i>
                <label> LinkedIn</label>
                 <span class="value"><a href="{{ site.linkedin }}" target="_blank">{{ site.linkedin }}</a></span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="fab fa-github""></i>
                <label> GitHub</label>
                <span class="value"><a href="{{ site.github }}" target="_blank">{{ site.github }}</a></span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="fab fa-twitter""></i>
                <label> Twitter</label>
                <span class="value"><a href="{{ site.twitter }}" target="_blank">{{ site.twitter }}</a></span>
                <div class="clear"></div>
            </li>

        </ul>

        <p style="margin-bottom:20px">
            I am a data scientist at dunnhumby, helping our clients better serve their customers through the use of data science and machine learning. I predominantly use Python and SQL for data science-with experience in using R, SAS, Tableau, and QGIS-for analysing and visualising data.
        </p>
        
         <p style="margin-bottom:20px">
            Previously at OC&C, I delivered business insights through analytics in strategy consulting projects. I also honed my quantitative skills during my time as a research analyst at Deloitte and Mintel, with experience in conducting and analysing consumer survey data. 

        </p>

    </div>
    <!-- End left-wrap -->

    <div class="col-md-6 profile-r">

        <div class="cycle-slideshow">
            <img src="images/profile_rotate_01.jpg" alt="" />
            <img src="images/profile_rotate_02.jpg" alt="" />
            <img src="images/profile_rotate_03.jpg" alt="" />
        </div>

    </div>

</div>


<div class="clear"></div>
</div>
<!-- End .profile -->