<!-- .resume -->
<div id="skills" class="content_2">
    <!-- .title -->
<h1 class="h-bloc"><i class="fas fa-angle-double-right"></i> Expertise & Skills</h1> 

<!-- begin business expertise -->
<div class="row" id="services">
    <div class="col-md-12">
        <div class="title_content">
            <div class="text_content">Business Expertise</div>
            <div class="clear"></div>
        </div>


        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fas fa-project-diagram"></i></div>
                <div class="service-detail">
                    <h6>Project Development & Management</h6>
                    <p>Scope and deliver analytics and data science projects to solve client's commercial challenges, employing appropriate project management principles (agile and waterfall) depending on project requirements. </p>
                </div>
            </div>
        </div>

        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fas fa-laptop-code"></i></div>
                <div class="service-detail">
                    <h6>Data Products</h6>
                    <p>Automate processes and create dashboards to enable data-driven decisions across wider company.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fas fa-book"></i></div>
                <div class="service-detail">
                    <h6>Thought Leadership</h6>
                    <p>Research and author whitepapers and research reports to enhance the reputation of employer in the marketplace. Titles included coverage on consumer technology and data analytics space.  </p>
                </div>
            </div>
        </div>
         
     </div> 
</div>

<!-- end business expertise -->


<!-- begin technical expertise -->
<div class="row" id="services">
    <div class="col-md-12">
        <div class="title_content">
            <div class="text_content">Technical Expertise</div>
            <div class="clear"></div>
        </div>


        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fab fa-connectdevelop"></i></div>
                <div class="service-detail">
                    <h6>Unsupervised Learning</h6>
                    <p>Applied unsupervised machine learning techniques, for example in creating customer segmentations to improve personalised offers and messages. </p>
                </div>
            </div>
        </div>

        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fas fa-chart-area"></i></div>
                <div class="service-detail">
                    <h6>Supervised Learning</h6>
                    <p>Experience with a range of supervised learning techniques for classification and regression, including attributing customer types back to customer base and predicting purchase propensity. </p>
                </div>
            </div>
        </div>

        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fas fa-clipboard-list"></i></div>
                <div class="service-detail">
                    <h6>Consumer Survey</h6>
                    <p>Create consumer questionnaire and interpret quantitative research results to observe industry trends and drive customer insight for marketing and business strategies. </p>
                </div>
            </div>
        </div>
         
     </div> 
</div>

<!-- end technical expertise -->

<!-- begin skills rating -->
<div class="row">

 
    <div class="col-md-12">
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Programming for Data Science</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Python</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">High</div>
            </div>
            <!-- /.skillbar -->

             <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>SQL</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">High</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="50%">
                <div class="skillbar-title"><span>R</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">Medium</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="50%">
                <div class="skillbar-title"><span>HTML/CSS</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">Medium</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="25%">
                <div class="skillbar-title"><span>D3.js</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">Some</div>
            </div>
            <!-- /.skillbar -->
            
        </div>
        
         
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">MS Office</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
            
        <div class="skills">       
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Excel</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">High</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title"><span>Word</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">High</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title"><span>Powerpoint</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">High</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title"><span>Teams/SharePoint</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">High</div>
            </div>
            <!-- /.skillbar -->   
		</div>        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Language</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>English</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">Fluent</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="45%">
                <div class="skillbar-title"><span>Cantonese</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">Proficient</div>
            </div>
            <!-- /.skillbar -->
            
        </div>
        

    </div>

     
</div>
<!-- end skills rating -->


<div style="clear: both"></div>  


</div>
<!-- End .resume -->